<div class='pull-left'>

<div id="campaing_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" ng-show="mode === 'new'">Nova Campanha</h4>
        <h4 class="modal-title" ng-show="mode === 'edit'">Editar Campanha</h4>
      </div>
      <div class="modal-body">
		<form novalidate class="simple-form">
			Name: <input type="text" ng-model="campaing.name" /><br />
  			Dia Inicial: <input type="date" ng-model="campaing.start_time">
  			Dia Final:   <input type="date" ng-model="campaing.end_time">
			<input type="submit" ng-show="mode === 'new'" ng-click="register_campaing()" value="Salvar" />
            <input type="submit" ng-show="mode === 'edit'" ng-click="update_campaing()">
		</form>
      </div>
    </div>
  </div>
</div>

<div>

    <h1>Campanha</h1>

    <select class="form-control" name="campaing_selected" id="campaing_selected" ng-disabled="!campaings.length" ng-model="campaing_selected.id" ng-click="select_campaing()"  >
      <option   ng-repeat="option in campaings" value="{{option.id}}">{{option.name}}</option>
    </select>
</div>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#campaing_modal" ng-click="new_campaing()">Nova</button>

<button type="button" class="btn btn-info btn-lg" ng-disabled="!campaing_selected.campaing" data-toggle="modal" data-target="#campaing_modal" ng-click="edit_campaing()">Editar</button>

<button type="button" ng-disabled="!campaing_selected.campaing"class="btn btn-info btn-lg" ng-click="remove_campaing()">Remover</button>


    <h1><center>Cidade<center></h1>

    <select class="form-control" name="city_selected" id="city_selected" ng-disabled="!cities.length" ng-model="city_selected" ng-click="select_city()" >
      <option ng-repeat="option in cities" value="{{option.id}}">{{option.name}}</option>
    </select>

<button type="button" class="btn btn-info btn-lg" ng-click="gerar_pdf()">Gerar PDF</button>

</div>


<!--   SELECTED ADDRESSES   -->

<div class="pull-left campaing_addresses_table">
	<h1><center>Endereço:</center></h1>
	  <table class="table" >
		<tr>
			<th> # </th>
			<th> Selecionar</th>
			<th>Localização</th>
            <th> Monitor </th>
			<th>Foto Inicial</th>
			<th>Foto Final</th>
		</tr>
		<tr ng-show="addresses_from_city.length > 0" ng-repeat="address in addresses_from_city">
			<td> {{address.id}} </td>
        	<td> <input type="checkbox" ng-click="select_address(address.id)"ng-checked="is_checked(address.id)">  </td>
			<td> {{address.name}} </td>
            <td>
                <label for="monitor-{{address.id}}-start_image" class="glyphicon glyphicon-blackboard" ng-show="is_checked(address.id)"></label>
					<input  type="submit" id="monitor-{{address.id}}-start_image" ng-click="update_monitor(address.id)" class="hidden" data-toggle="modal" data-target="#update_monitor" ng-click="update_monitor(address.id)" />
					{{monitor_number(address.id)}}
            </td>
			<td> 
                    <!--subir image-->
					<label for="{{address.id}}-start_image" class="glyphicon glyphicon-file upload-{{address.id}}-start_image" ng-show=" is_checked(address.id) && !has_image(address.id, 'start_image')"></label>
					<input  id="{{address.id}}-start_image" class='hidden' type="file" onchange="angular.element(this).scope().upload_image(this)" />

                    <!--editar image-->
					<label for="edit-{{address.id}}-start_image" class="glyphicon glyphicon-edit edit-{{address.id}}-start_image " ng-show="has_image(address.id,'start_image')"></label>
					<input id="edit-{{address.id}}-start_image" class="hidden" data-toggle="modal" data-target="#edit_image" ng-click="edit_image(address.id, 'start_image')">

                    <!--remover image-->
					<label for="remove-{{address.id}}-start_image" class="glyphicon glyphicon-trash remove-{{address.id}}-start_image " ng-show="has_image(address.id,'start_image')"></label>
                    <input id="remove-{{address.id}}-start_image" class="hidden" ng-click="remove_image(address.id,'start_image')">
			</td>
			<td>
                    <!--subir image-->
					<label for="{{address.id}}-end_image" class="glyphicon glyphicon-file upload-{{address.id}}-end_image" ng-show=" is_checked(address.id) && !has_image(address.id, 'end_image')"></label>
					<input  id="{{address.id}}-end_image" class='hidden' type="file" onchange="angular.element(this).scope().upload_image(this)" />

                    <!--editar image-->
					<label for="edit-{{address.id}}-end_image" class="glyphicon glyphicon-edit edit-{{address.id}}-end_image " ng-show="has_image(address.id,'end_image')"></label>
					<input id="edit-{{address.id}}-end_image" class="hidden" data-toggle="modal" data-target="#edit_image" ng-click="edit_image(address.id, 'end_image')">

                    <!--remover image-->
					<label for="remove-{{address.id}}-end_image" class="glyphicon glyphicon-trash remove-{{address.id}}-end_image " ng-show="has_image(address.id,'end_image')"></label>
                    <input id="remove-{{address.id}}-end_image" class="hidden" ng-click="remove_image(address.id,'end_image')">

			</td>
		</tr>
	</table>
</div>

<div id="edit_image" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" > Editando Imagem</h4>
      </div>
      <div class="modal-body" >
        <center>
			<div class="canvas_image">
			</div>
		</center>
        <div class="hidden">
        <input type="text" value="0" id="x">
        <input type="text" value="0" id="y">
        <input type="text" value="0" id="w">
        <input type="text" value="0" id="h">
        </div>
        <button ng-click="save_image()"> salvar </button>
      </div>
    </div>
  </div>
</div>
<canvas width="{{image_box.w}}" height="{{image_box.h}}" ng-class="hidden">CANVAS</canvas>
<!--UPDATE MONITOr-->
<div id="update_monitor" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" > Numero do Monitor</h4>
      </div>
      <div class="modal-body" >
		Monitor: <input type="text"  ng-model="monitor.campaing_address.monitor">
        <button ng-click="save_monitor()"> Salvar </button>
      </div>
    </div>
  </div>
</div>
